svg{
    width:600px;
    height:600px;
    background-color:#333;
}
#tool-tip-text{
	position: absolute;
	top: 0;
	left:0;
	width: auto;
	padding:7px;
	background-color: #09c;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.3);
	text-transform: capitalize;
	display: none;
}